<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugin for Orders -->
    <type name="Magento\Sales\Model\Order">
        <plugin name="nbox_order_plugin" type="NBOX\Shipping\Plugin\OrderPlugin" />
    </type>

    <!-- Plugin for Store Location Updates -->
    <type name="Magento\Store\Model\ResourceModel\StoreRepository">
        <plugin name="nbox_store_location_plugin" type="NBOX\Shipping\Plugin\StoreRepoPlugin" />
    </type>
</config>