<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugin for Orders -->
    <type name="Magento\Sales\Model\Order">
        <plugin name="nbox_order_plugin" type="Nbox\Shipping\Plugin\OrderPlugin" />
    </type>

    <!-- Plugin for Store Location Updates -->
    <type name="Magento\Store\Model\ResourceModel\StoreRepository">
        <plugin name="nbox_store_location_plugin" type="Nbox\Shipping\Plugin\StoreRepoPlugin" />
    </type>

    <!-- Preference for Nbox\Shipping Carrier -->
    <preference for="Magento\Shipping\Model\Carrier\AbstractCarrier" type="Nbox\Shipping\Model\Carrier\Nboxshipping" />

    <!-- Define Nboxshipping Constructor Dependencies -->
    <type name="Nbox\Shipping\Model\Carrier\Nboxshipping">
        <arguments>
            <argument name="scopeConfig" xsi:type="object">Magento\Framework\App\Config\ScopeConfigInterface</argument>
            <argument name="rateErrorFactory" xsi:type="object">Magento\Quote\Model\Quote\Address\RateResult\ErrorFactory</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
            <argument name="rateResultFactory" xsi:type="object">Magento\Shipping\Model\Rate\ResultFactory</argument>
            <argument name="rateMethodFactory" xsi:type="object">Magento\Quote\Model\Quote\Address\RateResult\MethodFactory</argument>
            <argument name="productRepository" xsi:type="object">Magento\Catalog\Model\ProductRepository</argument>
            <argument name="configHelper" xsi:type="object">Nbox\Shipping\Helper\ConfigHelper</argument>
            <argument name="nboxApi" xsi:type="object">Nbox\Shipping\Helper\NboxApi</argument>
            <argument name="curl" xsi:type="object">Magento\Framework\HTTP\Client\Curl</argument>
            <argument name="productSource" xsi:type="object">Nbox\Shipping\Helper\ProductSource</argument>
            <argument name="converter" xsi:type="object">Nbox\Shipping\Utils\Converter</argument>
            <argument name="dataFormatter" xsi:type="object">Nbox\Shipping\Service\DataFormatter</argument>
            <argument name="productTypeHelper" xsi:type="object">Nbox\Shipping\Helper\ProductTypeHelper</argument>
        </arguments>
    </type>

    <!-- Define ProductHelper Constructor Dependencies -->
    <type name="Nbox\Shipping\Helper\ProductHelper">
        <arguments>
            <argument name="productTypeHelper" xsi:type="object">Nbox\Shipping\Helper\ProductTypeHelper</argument>
        </arguments>
    </type>

    <!-- Define DataFormatter Constructor Dependencies -->
    <type name="Nbox\Shipping\Service\DataFormatter">
        <arguments>
            <argument name="productTypeHelper" xsi:type="object">Nbox\Shipping\Helper\ProductTypeHelper</argument>
        </arguments>
    </type>
</config>
