<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
            id="NBOX_Shipping::main"
            title="NBOX Shipping"
            module="NBOX_Shipping"
            sortOrder="10"
            action="nbox_shipping/settings/index"
            resource="NBOX_Shipping::settings"
            
        />
    </menu>
</config>
